body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2476px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1989 {
  position:absolute;
  left:506px;
  top:166px;
  width:375px;
  height:667px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1991 {
  position:absolute;
  left:75px;
  top:164px;
  width:375px;
  height:667px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1993 {
  position:absolute;
  left:540px;
  top:949px;
  width:375px;
  height:667px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1994 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1995 {
  position:absolute;
  left:82px;
  top:949px;
  width:375px;
  height:667px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1997 {
  position:absolute;
  left:1357px;
  top:164px;
  width:375px;
  height:667px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:166px;
  height:22px;
}
#u1999p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:157px;
  height:2px;
}
#u1999p000_img {
  position:absolute;
  left:-2px;
  top:-11px;
  width:170px;
  height:24px;
}
#u1999p001 {
  position:absolute;
  left:140px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1999p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u1999.compound {
  width:0px;
  height:0px;
}
#u1999 {
  position:absolute;
  left:373px;
  top:599px;
  width:155px;
  height:2px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:-7px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2001 {
  position:absolute;
  left:506px;
  top:113px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2002 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:658px;
}
#u2003 {
  position:absolute;
  left:1723px;
  top:949px;
  width:370px;
  height:658px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:321px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:658px;
}
#u2005 {
  position:absolute;
  left:936px;
  top:164px;
  width:370px;
  height:658px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:321px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:186px;
  height:22px;
}
#u2007p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:177px;
  height:2px;
}
#u2007p000_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:190px;
  height:22px;
}
#u2007p001 {
  position:absolute;
  left:160px;
  top:-9px;
  width:20px;
  height:20px;
}
#u2007p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u2007.compound {
  width:0px;
  height:0px;
}
#u2007 {
  position:absolute;
  left:805px;
  top:388px;
  width:175px;
  height:2px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:-7px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u2009 {
  position:absolute;
  left:791px;
  top:374px;
  width:25px;
  height:29px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u2011 {
  position:absolute;
  left:356px;
  top:585px;
  width:25px;
  height:29px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u2013 {
  position:absolute;
  left:516px;
  top:209px;
  width:25px;
  height:29px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:154px;
  height:22px;
}
#u2015p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:145px;
  height:2px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2015p000_img {
  position:absolute;
  left:-10px;
  top:-11px;
  width:156px;
  height:24px;
}
#u2015p001 {
  position:absolute;
  left:-5px;
  top:-9px;
  width:20px;
  height:20px;
}
#u2015p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u2015.compound {
  width:0px;
  height:0px;
}
#u2015 {
  position:absolute;
  left:388px;
  top:223px;
  width:143px;
  height:2px;
}
#u2016 {
  position:absolute;
  left:2px;
  top:-7px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:154px;
  height:22px;
}
#u2017p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:145px;
  height:2px;
}
#u2017p000_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:158px;
  height:22px;
}
#u2017p001 {
  position:absolute;
  left:128px;
  top:-9px;
  width:20px;
  height:20px;
}
#u2017p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u2017.compound {
  width:0px;
  height:0px;
}
#u2017 {
  position:absolute;
  left:1225px;
  top:484px;
  width:143px;
  height:2px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:-7px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u2019 {
  position:absolute;
  left:1211px;
  top:470px;
  width:25px;
  height:29px;
}
#u2020 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u2021 {
  position:absolute;
  left:1371px;
  top:211px;
  width:25px;
  height:29px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:649px;
}
#u2023 {
  position:absolute;
  left:1385px;
  top:225px;
  width:2px;
  height:646px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:315px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2025 {
  position:absolute;
  left:953px;
  top:949px;
  width:375px;
  height:667px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2027_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:261px;
  height:22px;
}
#u2027p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:252px;
  height:2px;
}
#u2027p000_img {
  position:absolute;
  left:-2px;
  top:-11px;
  width:264px;
  height:24px;
}
#u2027p001 {
  position:absolute;
  left:235px;
  top:-9px;
  width:20px;
  height:20px;
}
#u2027p001_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:32px;
  height:40px;
}
#u2027.compound {
  width:0px;
  height:0px;
}
#u2027 {
  position:absolute;
  left:303px;
  top:1135px;
  width:250px;
  height:2px;
}
#u2028 {
  position:absolute;
  left:2px;
  top:-7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u2029 {
  position:absolute;
  left:786px;
  top:1041px;
  width:25px;
  height:29px;
}
#u2030 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:177px;
  height:22px;
}
#u2031p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:168px;
  height:2px;
}
#u2031p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:180px;
  height:24px;
}
#u2031p001 {
  position:absolute;
  left:151px;
  top:-9px;
  width:20px;
  height:20px;
}
#u2031p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u2031.compound {
  width:0px;
  height:0px;
}
#u2031 {
  position:absolute;
  left:798px;
  top:1055px;
  width:166px;
  height:2px;
}
#u2032 {
  position:absolute;
  left:2px;
  top:-7px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u2033 {
  position:absolute;
  left:290px;
  top:1121px;
  width:25px;
  height:29px;
}
#u2034 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u2035 {
  position:absolute;
  left:1265px;
  top:1183px;
  width:25px;
  height:29px;
}
#u2036 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:519px;
}
#u2037 {
  position:absolute;
  left:1371px;
  top:949px;
  width:294px;
  height:519px;
}
#u2038 {
  position:absolute;
  left:2px;
  top:252px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:54px;
  height:22px;
}
#u2039p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:45px;
  height:2px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2039p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:56px;
  height:22px;
}
#u2039p001 {
  position:absolute;
  left:-5px;
  top:-9px;
  width:20px;
  height:20px;
}
#u2039p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u2039.compound {
  width:0px;
  height:0px;
}
#u2039 {
  position:absolute;
  left:1254px;
  top:1178px;
  width:43px;
  height:2px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:-7px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:211px;
  height:22px;
}
#u2041p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:202px;
  height:2px;
}
#u2041p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:214px;
  height:24px;
}
#u2041p001 {
  position:absolute;
  left:185px;
  top:-9px;
  width:20px;
  height:20px;
}
#u2041p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u2041.compound {
  width:0px;
  height:0px;
}
#u2041 {
  position:absolute;
  left:1278px;
  top:1195px;
  width:200px;
  height:2px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:-7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2043 {
  position:absolute;
  left:1254px;
  top:1212px;
  width:57px;
  height:16px;
}
#u2044 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u2045 {
  position:absolute;
  left:1595px;
  top:1093px;
  width:25px;
  height:29px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2047_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:164px;
  height:22px;
}
#u2047p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:155px;
  height:2px;
}
#u2047p000_img {
  position:absolute;
  left:-2px;
  top:-11px;
  width:168px;
  height:24px;
}
#u2047p001 {
  position:absolute;
  left:138px;
  top:-9px;
  width:20px;
  height:20px;
}
#u2047p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u2047.compound {
  width:0px;
  height:0px;
}
#u2047 {
  position:absolute;
  left:1605px;
  top:1107px;
  width:153px;
  height:2px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:-7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1530px;
  height:5px;
}
#u2049 {
  position:absolute;
  left:650px;
  top:902px;
  width:1527px;
  height:2px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1523px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:205px;
}
#u2051p000 {
  position:absolute;
  left:-97px;
  top:96px;
  width:196px;
  height:2px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2051p000_img {
  position:absolute;
  left:-15px;
  top:-6px;
  width:218px;
  height:14px;
}
#u2051p001 {
  position:absolute;
  left:-9px;
  top:-5px;
  width:20px;
  height:20px;
}
#u2051p001_img {
  position:absolute;
  left:-11px;
  top:-1px;
  width:42px;
  height:32px;
}
#u2051.compound {
  width:0px;
  height:0px;
}
#u2051 {
  position:absolute;
  left:650px;
  top:710px;
  width:2px;
  height:194px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:89px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u2053 {
  position:absolute;
  left:969px;
  top:991px;
  width:25px;
  height:29px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:179px;
  height:22px;
}
#u2055p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:170px;
  height:2px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2055p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:182px;
  height:22px;
}
#u2055p001 {
  position:absolute;
  left:-5px;
  top:-9px;
  width:20px;
  height:20px;
}
#u2055p001_img {
  position:absolute;
  left:-2px;
  top:-11px;
  width:32px;
  height:42px;
}
#u2055.compound {
  width:0px;
  height:0px;
}
#u2055 {
  position:absolute;
  left:817px;
  top:1006px;
  width:168px;
  height:2px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:-7px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2057 {
  position:absolute;
  left:82px;
  top:902px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2058 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:649px;
}
#u2059 {
  position:absolute;
  left:2155px;
  top:949px;
  width:321px;
  height:649px;
}
#u2060 {
  position:absolute;
  left:2px;
  top:316px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:127px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2063 {
  position:absolute;
  left:1785px;
  top:1215px;
  width:246px;
  height:127px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:56px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2065 {
  position:absolute;
  left:1844px;
  top:1248px;
  width:129px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2066 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:2px;
}
#u2067 {
  position:absolute;
  left:1785px;
  top:1298px;
  width:246px;
  height:1px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:-8px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2069 {
  position:absolute;
  left:1844px;
  top:1312px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2070 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2071 {
  position:absolute;
  left:1951px;
  top:1309px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u2073 {
  position:absolute;
  left:1908px;
  top:1298px;
  width:1px;
  height:44px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:221px;
  height:22px;
}
#u2075p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:212px;
  height:2px;
}
#u2075p000_img {
  position:absolute;
  left:-2px;
  top:-11px;
  width:224px;
  height:24px;
}
#u2075p001 {
  position:absolute;
  left:195px;
  top:-9px;
  width:20px;
  height:20px;
}
#u2075p001_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:32px;
  height:40px;
}
#u2075.compound {
  width:0px;
  height:0px;
}
#u2075 {
  position:absolute;
  left:1967px;
  top:1337px;
  width:210px;
  height:2px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:-7px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u2077 {
  position:absolute;
  left:1955px;
  top:1323px;
  width:25px;
  height:29px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u2079 {
  position:absolute;
  left:2165px;
  top:994px;
  width:25px;
  height:29px;
}
#u2080 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2081_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:109px;
}
#u2081 {
  position:absolute;
  left:2176px;
  top:902px;
  width:2px;
  height:106px;
}
#u2082 {
  position:absolute;
  left:2px;
  top:45px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1140px;
  height:5px;
}
#u2083 {
  position:absolute;
  left:250px;
  top:869px;
  width:1137px;
  height:2px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:115px;
}
#u2085p000 {
  position:absolute;
  left:-52px;
  top:51px;
  width:106px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2085p000_img {
  position:absolute;
  left:-6px;
  top:-6px;
  width:126px;
  height:14px;
}
#u2085p001 {
  position:absolute;
  left:-9px;
  top:89px;
  width:20px;
  height:20px;
}
#u2085p001_img {
  position:absolute;
  left:-11px;
  top:-2px;
  width:42px;
  height:32px;
}
#u2085.compound {
  width:0px;
  height:0px;
}
#u2085 {
  position:absolute;
  left:250px;
  top:869px;
  width:2px;
  height:104px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:44px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u2087 {
  position:absolute;
  left:555px;
  top:994px;
  width:25px;
  height:29px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:179px;
  height:22px;
}
#u2089p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:170px;
  height:2px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2089p000_img {
  position:absolute;
  left:-10px;
  top:-11px;
  width:182px;
  height:24px;
}
#u2089p001 {
  position:absolute;
  left:-5px;
  top:-9px;
  width:20px;
  height:20px;
}
#u2089p001_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:32px;
  height:40px;
}
#u2089.compound {
  width:0px;
  height:0px;
}
#u2089 {
  position:absolute;
  left:403px;
  top:1009px;
  width:168px;
  height:2px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:-7px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
